* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  flex-direction: column;
  background: #001219;
  position: fixed;
  top: -100%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.4s linear;
  z-index: 100;
}
.navbar-links a {
  color: rgb(141, 173, 147);
}
.navbar-link a {
  text-decoration: none;
}
.navbar-links.active {
  top: 0;
  left: 0;
}
.navbar {
  display: none;
  border-bottom: black;
  border-bottom-style: solid;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  color: rgb(141, 173, 147);
}

/* .landing {
  height: 100vh;
  background: yellow;
} */

@media screen and (max-width: 611px) {
  .navbar {
    display: block;
  }
  .top-bar {
    display: none;
  }
}
